.btn {
    color: var(--tertiary);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: var(--h6);
    cursor: pointer;
}

.primary {
    composes: btn;
    background-color: var(--primary);
    color: var(--tertiary);
}

.secondary {
    composes: btn;
    background-color: var(--secondary);
    color: var(--tertiary);
}