
.nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: var(--content-width);
    padding: 1rem 0;
    background-color: var(--tertiary);
}

.logo {
    color: var(--secondary);
    font-size: var(--h3);
    font-family: var(--font);
    font-weight: bold;
}

.hi {
    display: inline;
    color: var(--primary);
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    font-size: var(--h6);
    gap: 1rem;
}

.link {
    text-decoration: none;
    color: inherit;
}